<!DOCTYPE html>
<html>
  <head>
    <title>Event Form Module</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Quicksand:wght@600&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <script >
        var upload_url = "<%= ENV['AUTH_SERVER'] %>";
        var FIREBASE_API_KEY = "<%=ENV['FIREBASE_API_KEY'] %>";
        var FIREBASE_AUTH_DOMAIN = "<%= ENV['FIREBASE_AUTH_DOMAIN'] %>"
        var FIREBASE_PROJECT_ID = "<%= ENV['FIREBASE_PROJECT_ID'] %>"
        var FIREBASE_STORAGE_BUCKET = "<%= ENV['FIREBASE_STORAGE_BUCKET'] %>"
        var FIREBASE_MESSAGING_SENDER_ID = "<%= ENV['FIREBASE_MESSAGING_SENDER_ID'] %>"
        var FIREBASE_APP_ID = "<%= ENV['FIREBASE_APP_ID'] %>"
        var FIREBASE_MEASUAREMENT_ID = "<%= ENV['FIREBASE_MEASUAREMENT_ID'] %>"
        var FIREBASE_SUB_DIRECTORY = "<%= ENV['FIREBASE_SUB_DIRECTORY'] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
